/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol, ul {
	list-style: none;
}

ul li a {
	 text-decoration: none;
	 color: black;
	 
}
ul li a:hover {
	font-size: larger; 
	margin-left: -10px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/***************     Boutton Modifier      ******************/

.filtres {
	display: block;
}

/***************     Formulaire Login   ******************/
#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 180px;
}

#login form {
	display: flex;
	flex-direction: column;
	width: 30%;
	gap: 10px;
	margin-top: 50px;
}

#login form .text {
	display: flex;
	align-items: start;
}

#login .redirection {
	background-color: blue;
}
#login .btnConnecter {
	border-radius: 60px;
	padding: 15px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	cursor: pointer;
	background-color: #1D6154;
	width: 50%;
	margin: auto;
	color: white;
	margin-bottom: 0px;
}
#erreur {
	margin: auto;
	color: red;
	margin-bottom: 10px;
	margin-top: 10px;
}
#login .btnConnecter:active {
	background-color: #299d88;
}

#login form .saisie {
	border: none;
	background-color: white;
	box-shadow: 4px 5px 5px rgb(232, 224, 224) ;
	height: 51px;
	width: 350px;
}

#login a {
	text-align: center;
} 

/*********************   Fin du Formulaire Login   ********************/

/*********************   Modale 1 ********************/
#modale , #modale2 {
	display: block;
	visibility: hidden;
	position: absolute;
	flex-direction: column;
	left: 25%;
	top: 60%;
	width: 50%;
	background-color: white;
	border: #1D6154 1px solid;
	border-radius: 10px;
	padding-bottom: 30px;
}

#portfolio .contenuModale {
	display: grid;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 50px;
	gap: 10px 10px;
	width: 70%;
	grid-template-columns: 15% 15% 15% 15% 15%;
	justify-content: space-between;
	border-bottom: #1D6154 1px solid ;
}

.contenuModale img {
	display: flex;
	position: relative;
	width: 100%;
}

#modale .buttonAddPictures , #modale .buttonAdd{
	display: flex;
	margin: auto;
	margin-top: 30px;
	border: #1D6154 1px solid;
	border-radius: 60px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #1D6154;
	color: white;
	font-family: syne;
	cursor: pointer;
}

#modale2 .buttonAddPictures , #modale2 .buttonAdd{
	display: flex;
	margin: auto;
	margin-top: 30px;
	border: #1D6154 1px solid;
	border-radius: 60px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #1D6154;
	color: white;
	font-family: syne;
	cursor: pointer;
}

.backPoubelle {
	display: block;
	position: relative;
	bottom: 76%;
	left: 65%;
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 10%;
}

#modale .backPoubelle i {
	color: white;
	padding: 4px;
	margin-top: 3px;
}

.divIconX {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding: 20px;
}

#modale2 h2 {
	color: black;
	font-family: work sans;
	font-weight: 300;
}

/*********************  Fin Modale 1  ********************/

/*********************   Modale 2 ********************/
.divIcon {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 20px;
}

.placePictures {
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
	height: 169px;
}
form .placePictures img {
	display: block;
	width: 50%; 
	margin: auto;
	object-fit: cover;
	height: 169px;
}

.placePictures i {
	margin: auto;
	padding-top: 10px;
	font-size: xxx-large;
}

#modale2 .buttonAddPictures {
background-color: #CBD6DC;
border: none;
color: #306685;
margin-top: 10px;
}

#modale2 .placePictures p {
	color: #306685;
	margin: auto;
	margin-top: 5px;
	padding-bottom: 10px;
}

#modale2 form {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding-top: 20px;
	gap:5px;
	margin: auto;
	height: auto;
}

#modale2 form .border {
	padding-top: 30px;
	border-bottom: #1D6154 solid 1px;
}

form input {
	margin-bottom: 10px;
	justify-content: center;
}

#modale2 form .buttonAdd {
	width: 60%;
	justify-content: center;
	color: #306685;
	background-color: #CBD6DC;
	border: none;
}

/*********************  Fin Modale  ********************/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
.title i {
	margin-top: 9px;
	padding-left: 15px ;
}
.title input {
	border: none;
	background-color: white;
	height: 19px;
	margin-top: 8px;
	cursor: pointer;
}

.filtres {
	text-align: center;
}

.filtres .buttonFiltres {
	margin: 5px;
	margin-bottom: 30px;
	border: #1D6154 1px solid;
	border-radius: 60px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	color: #1D6154;
	font-family: syne;
	cursor: pointer;
}
.filtres .buttonFiltres:active {
	background-color: #1D6154;
	color: white;
}
.filtres .buttonFiltres:focus {
	background-color: #1D6154;
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	margin-bottom: 4px;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
/*******************   Footer   **********************/
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

